.home-background {
    background-color: rgb(218,221,216);
    height:100vh;
}

.howdy {
    padding-top: 25px;
    padding-bottom: 25px;
    color: rgb(192,78,33);
    text-shadow: rgba(102, 76, 58) .2px .2px;
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto Slab', serif;
}

.calendar-placeholder {
    background-color: rgb(235,234,227);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 300px;
    padding-right: 300px;
}

.search-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 15px;
    font-size: 1.3em;
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto Slab', serif;
}

.search-form {
    padding-left: 300px;
    padding-right: 300px;
}

#srch-button {
    width: 220px;
    height: 70px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: rgb(218,221,216);
    background-color:rgb(102, 76, 58) !important;
    border-radius: 8px;
    font-size: 40px;
}

#bottom-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

