#loading {
    font-size: 150px;
    text-align: center;
}

#srch-div {
   text-align: center;
   display: flex;
   justify-content: center;
}

.search-form {
    margin-top: 25px;
}

th {
    text-shadow: black .8px .8px;
    color: rgb(255, 255, 255) !important;
    border: 1px solid black !important;
    background-color: rgba(102, 76, 58) !important ;
}

td a, td {
    color:rgb(192,78,33) !important ;
}

#srch-button {
    text-shadow: black .8px .8px;
}
