#show-image {
    max-width: 100%; 
    display: block; 
    height: auto 
}

#show-main-box {
    font-family: 'Roboto Slab', serif;

}

#show-header {
    color: rgb(192,78,33)!important;

}

.show-links {
    color: rgb(204, 95, 52);
    
}

#card-contain {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}