#basic-addon1 {
    width: 150px !important;
    height: auto;
    font-size: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
}

#h1media {
    font-size: 50px;
    text-align: center;
}

#signup-button {
    display: flex;
    justify-content: center;
    vertical-align: middle;
   
}

#top-signup {
    text-align: center;
}

#set-signup {
    margin: 20px;
    width: 150px;
    height: 50px;
    font-size: 30px;
}

#or {
    font-size: 30px;
    margin: 0px !important;
    padding-top: 20px;
}